/* 版心区域 */
.w {
  width: 1200px;
  margin: 0 auto;
}
/* 一些公共样式 */
.style_red {
  color: #c81623;
}

/* 声明字体图标 */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?tomleg');
  src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tomleg') format('truetype'), url('../fonts/icomoon.woff?tomleg') format('woff'),
    url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* 头部快捷导航区域 */
.shortcut {
  height: 31px;
  line-height: 31px;
  background-color: #f1f1f1;
}
.shortcut-left {
  float: left;
  /* width:  190px; */
}
.shortcut ul li {
  list-style: none;
  float: left;
  color: #666666;
}
.shortcut-left > ul > li > a {
  text-decoration: none;
}

.shortcut-right {
  float: right;
}

.shortcut-right ul li:nth-child(even) {
  margin: 9px 15px 0;
  height: 13px;
  width: 1px;
  background-color: #666666;
}
.shortcut-right .arrow-icon:after {
  /* 拿过来的字体图标 代码需要\来转义 */
  content: '\e91e';
  /* 将声明的字体图标font-family 拿过来使用 以显示字体图标 */
  font-family: 'icomoon';
  margin-left: 6px;
}

/* 头部区域 header */
header {
  height: 105px;
  position: relative;
}
.logo {
  position: absolute;
  top: 25px;
  width: 171px;
  height: 61px;
}
.logo a {
  display: block;
  width: 171px;
  height: 61px;
  background: url('../images/logo.png') no-repeat;
  font-size: 0;
}

.search {
  position: absolute;
  left: 346px;
  top: 25px;
  width: 538px;
  height: 36px;
  border: 2px solid #b1191a;
}
.search .inputText {
  border: 0;
  float: left;
  width: 454px;
  height: 100%;
  padding-left: 8px;
  outline: none;
}
.search button {
  float: right;
  width: 80px;
  height: 32px;
  background-color: #b1191a;
  color: white;
  font-size: 16px;
  border: 0;
}
.hotwords {
  position: absolute;
  left: 358px;
  top: 70px;
}
.hotwords ul li {
  float: left;
  margin: 0 10px;
  cursor: pointer;
}

/* 右侧购物车 */
.shopcar {
  position: absolute;
  right: 60px;
  top: 27px;
  width: 140px;
  height: 35px;
  border: 2px solid #dfdfdf;
  background-color: f7f7f7;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
}
.shopcar::before {
  font-family: 'icomoon';
  content: '\e93a';
  margin-right: 5px;
  color: #d84b4b;
}
.shopcar::after {
  font-family: 'icomoon';
  content: '\e920';
  margin-left: 10px;
}
.shopcar .car-icon {
  position: absolute;
  height: 14px;
  left: 105px;
  top: -5px;
  padding: 0 5px;
  border-radius: 7px 7px 7px 0;
  line-height: 14px;
  background-color: #e60012;
  color: white;
}

/* 导航栏 */
.nav {
  height: 47px;
  border-bottom: 2px solid #b1191a;
}
.dropdown {
  float: left;
}
.dropdown .dt {
  width: 210px;
  height: 45px;
  margin-top: 2px;
  line-height: 45px;
  font-size: 16px;
  text-align: center;
  background-color: #b1191a;
  color: white;
}
.dropdown .dd {
  width: 210px;
  height: 446px;
  background-color: #c81623;
  color: white;
}
.dropdown .dd > ul {
  width: 210px;
  height: 465px;
  background-color: #c81623;
}
.dropdown .dd > ul > li a{
  color:white;
}
.dropdown .dd > ul > li {
  position: relative;
  height: 31px;
  padding-left: 10px;
  font-size: 14px;
}
.dropdown .dd > ul > li::after {
  position: absolute;
  right: 10px;
  content: '\e920';
  font-family: 'icomoon';
}
.dropdown .dd > ul > li:hover {
  background-color: #fff;
  color: #c81623;
  margin: 0 2px;
  cursor: pointer;
}
.nav-right {
  float: left;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
}
.nav-right li :first-of-type {
  margin-left: 44px;
}

.nav-right li {
  float: left;
  padding: 0 25px;
  cursor: pointer;
}

/* 底部区域 */
footer {
  height: 415px;
  width: 100%;
  padding-top: 30px;
  background-color: #f5f5f5;
}
footer .mod_service {
  height: 80px;
  border-bottom: 1px solid #bbbb;
}
.mod_service > ul > li {
  width: 240px;
  height: 50px;
  float: left;
  padding-left: 35px;
}
.mod_service > ul > li > h5 {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 8px;
}
.mod_service > ul > li:nth-of-type(1) > h5 {
  background: url('../images/icons.png') -254px -54px;
}
.mod_service > ul > li:nth-of-type(2) > h5 {
  background: url('../images/icons.png') -256px -106px;
}
.mod_service > ul > li:nth-of-type(3) > h5 {
  background: url('../images/icons.png') -258px -156px;
}
.mod_service > ul > li:nth-of-type(4) > h5 {
  background: url('../images/icons.png') -256px -208px;
}
.mod_service > ul > li:nth-of-type(5) > h5 {
  background: url('../images/icons.png') -252px -268px;
}

.service.txt h4 {
  font-size: 14px;
  font: weight 1000px;
}
.service.txt p {
  font-size: 12px;
}

/* footer 第二个模块 */
.mod_help {
  height: 185px;
  padding-top: 20px;
  padding-left: 50px;
  border-bottom: 1px solid #bbbb;
}
.mod_help dl {
  float: left;
  width: 200px;
}
.mod_help dl:last-child {
  width: 90px;
  text-align: center;
}
.mod_help .client {
  margin-left: 8px;
}
.mod_help dl > dt {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333333;
}

/* 底部第三个模块 */
.links {
  height: 82px;
  margin-left: 115px;
  padding-top: 20px;
  text-align: center;
}
.links-left {
  margin-bottom: 10px;
}
.links-left > a {
  margin: 10px;
}
.links-control {
  line-height: 20px;
}
